<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yazdaniscodelab.ondemandfinalproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".CreateProfielActivity" />
        <activity android:name=".ClientViewActivity.ClientViewHomeActivity" />
        <activity android:name=".JobDetailsActivity" />
        <activity android:name=".TutionJobDetailsActivity" />

        <activity android:name=".CatActivityForJobSeeker.CatHomeServiceActivity"
            android:parentActivityName=".HomeActivity"
            />

        <activity android:name=".CatActivityForJobSeeker.CatTutionServiceActivity"
            android:parentActivityName=".HomeActivity"
            />

        <activity android:name=".CatActivityForJobSeeker.CatItandSoftwareJobActivity"
            android:parentActivityName=".HomeActivity"
            />

        <activity android:name=".CatActivityForJobSeeker.CatActivityDetailsJobPOST.CatHomeServiceDetailsActivity" />

        <activity android:name=".CatActivityForJobSeeker.CatActivityDetailsJobPOST.CatTuiTionServiceDetailsActivity" />

        <activity android:name=".CatActivityForJobSeeker.CatActivityDetailsJobPOST.CatITandSoftwareServiceDetailsActivity" />

        <activity android:name=".ClientViewFragment.ClientViewJobSeekerServicesCatActivity.CatServciesHomeServiceActivity"
            android:parentActivityName=".ClientViewActivity.ClientViewHomeActivity"

            />

        <activity android:name=".ClientViewFragment.ClientViewJobSeekerServicesCatActivity.CatServciesTuitionServiceActivity"
            android:parentActivityName=".ClientViewActivity.ClientViewHomeActivity"
            />

        <activity android:name=".ClientViewFragment.ClientViewJobSeekerServicesCatActivity.CatServicesItandSoftwareActivity"
            android:parentActivityName=".ClientViewActivity.ClientViewHomeActivity"

            />
    </application>

</manifest>